bin/
lib/
pyvenv.cfg
*.out
*.upa
.idea
**/__pycache__
*-blx.bib
*.aux
*.bbl
*.blg
*.log
*.run.xml
*.synctex.gz
*.pdf
*~
auto
*.swp

# local virtualenvs
myvenv/
.venv/
venv/

# generated translation templates from ad-hoc test runs in-tree
stextools/test/*.de.tex
stextools/test/*.de.json
