.bold { font-weight: bold; }
.highlight { background-color: orange; }
.highlight1 { background-color: lightgreen; }
.highlight2 { background-color: cyan; }
.highlight3 { background-color: lightblue; }
.error { background-color: red; }
.error-weak { color: red; }
.success-weak { color: green; }
.warning { background-color: yellow; }

#content {
    font-family: monospace;
}

.header {
    margin: 10px 0;
    text-align: center;
}

.statistics {
    text-align: right;
    color: gray;
}

[data-wd-align] {
    color: #0bb;
}

.ftml-comp { /* make sure that existing annotations are highlighted */
  color: dodgerblue;
}

div.ftml-comp {
    display: inline;
}

div.snify-annotation {
    display: contents;
}

code, pre {
    background-color: lightgrey;
}

img {
    width: unset !important;
    height: unset !important;
}

/* Unset style-attributes that mess the page layout up */
#content > span:nth-child(2) * {
    position: unset !important;
    float: unset !important;
    opacity: unset !important;
    margin: unset !important;
}

